@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sop-width: 297mm;
  --sop-height: 210mm;
}

/* Hide UI elements during Print */
@media print {
  .no-print {
    display: none !important;
  }
  
  body {
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Force the SOP to be exactly A4 Landscape size */
  .print-container {
    transform: scale(1) !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Custom Scrollbar for the Sidebar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}